.content {
    display: flex;
    background-color: #fff;
}

.lateralBar {
    width: 20vw;
}

.profile-content {
    width: 80vw;
    align-self: center;
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin: auto;
    background-color: #fff;
    border-style: solid;
    border-color: #70e864;
    border-radius: 25px;
}
