.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.lateralBar {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  border-right-style: solid;
  height: 100vh;
  width: 20vw;
}

.postBox {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  height: 100vh;
  width: 80vw;
}

/* divs da barra lateral esquerda */
.infoBox {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 1.5vw;
  margin-top: 7vh;
  height: 10vh;
  width: 15vw;
  border-style: solid;
}
.nameBox {
  display: flex;
}

.userBox {
  display: flex;
}
.optionsBox {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  width: 15vw;
}

/* parte dos posts da galera */

/* Caixa de post do usuario */
.inputBox {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 7vh;
  height: 18vh;
  width: 30vw;
  background-color: #ffffff;
  border-style: solid;
  border-color: #70e864;
  border-radius: 25px;
  margin-right: 10vw;
}

.inputUsernameBox {
  display: flex;
  height: 4vh;
  width: 21vw;
  margin-left: 2.5vw;
  margin-top: 1.7vh;
   align-self: start; 
}

.inputField {
  height: 8vh;
  width: 25vw;
  margin-top: 1vw;
  margin-left: 2.5vw;
  align-self: start;
  resize: none;
  border: none;
  outline: none;
}

.sendBtn {
  display: flex;
  align-self: flex-end;
  margin-right: 2vw;
  margin-top: 1.7vh;
  margin-bottom: 1.5vh;
  background-color: #6ae01a;
  height: 4vh;
  width: 5vw;
  text-align: center;
  font-weight: bold;
  font-size: 1vw;
  color: #ffffff;
  border: 0;
}
/* Caixa de post dos outros  */
.feedBox {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  height: 18vh;
  width: 30vw;
  background-color: #ffffff;
  border-style: solid;
  border-color: #70e864;
  border-radius: 25px;

}

.feedUsernameBox {
  display: flex;
  height: 4vh;
  width: 21vw;
  margin-left: 5vw;
  margin-top: 2vh;
  align-self: start;
}

.feedTextBox {
  display: flex;
  height: 4vh;
  width: 21vw;
  margin-left: 5vw;
  margin-bottom: 1.7vh;
  align-self: start;
}

.likeBtn {
  display: flex;
  align-self: flex-end;
  margin-right: 2vw;
  margin-top: 1.7vh;
  margin-bottom: 1.5vh;
  background-color: #f10808;
  height: 4vh;
  width: 5vw;
  border: 0;
}

.scrollBox{
  margin-left: 16.5vw;
  width: 38vw;
  height: 80vh;
  margin-top: 2vh;
  overflow-y: auto;
} 

.svgBtn{
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  height: 6.5vh;
}

.p{
  margin-bottom: 1vh;
}